
<div class="chat-container">
   <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/api/products">Volver</a>
                </div>
            </nav>
        </div>
    </div>
  <input type="text" id="message-input" placeholder="Escribe tu mensaje...">
  <button id="send-button">Enviar</button>
  <ul id="message-list"></ul>
</div>
 <script src="/socket.io/socket.io.js"></script>
 <script src="/js/socket.js"></script>

